/* Paleta de colores */
$mouseover: #0056b3;
$panel_backg: #fff;
$texto_encabezados: white;

menu {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        position: relative; // Necesario para posicionar el submenu
        display: inline-block; // Muestra los elementos principales horizontalmente
        padding: 10px 25px;
        color: $texto_encabezados;
        cursor: pointer;

        a {
            color: $texto_encabezados;
            text-decoration:underline;
        }
    }
}

submenu {
    display: none; /* Oculto por defecto */
    position: absolute;
    top: 100%; /* Justo debajo del elemento principal */
    width: 100%;
    left: 0;
    background: $mouseover;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 120px;
}